<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<div class="container py-4">
      <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Filtros búsqueda</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <form th:action="@{/cpeliculas/titulo}" method="get">
                    <div class="mb-3">
                        <label for="tituloPel" class="form-label">Título</label>
                        <input type="text" class="form-control" id="tituloPel" th:value="${tituloPel}" name="tituloPel" placeholder="Escriba el título de la pelicula" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar por Título</button>
                    <input type="hidden" name="origen" value="listPeliculas" />
                </form>
                <hr>
                <form th:action="@{/cpeliculas/genero}" method="get">
                    <div class="mb-3">
                        <select class="form-select" name="genero" id="genero" required>
                            <option hidden  selected>Selecciona un género</option>
                            <option th:value="Infantil">Infantil</option>
                            <option th:value="Drama">Drama</option>
                            <option th:value="Suspenso">Suspenso</option>
                            <option th:value="Terror">Terror</option>
                            <option th:value="Acción">Acción</option>
                            <option th:value="Comedia">Comedia</option>
                        </select>
                     </div>
                    <button type="submit" class="btn btn-primary">Buscar por Género</button>
                    <input type="hidden" name="origen"  value="listPeliculas" />
                </form>
                <hr>
                <form th:action="@{/cpeliculas/actor}" method="get">
                    <div class="mb-3">
                        <select class="form-select" name="idActor" id="idActor" required>
                            <option hidden value="0" selected>Selecciona un actor</option>
                            <option th:each="var : ${listadoActores}" th:value="${var.idActor}" th:text="${var.nombre}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Buscar por Actor</button>
                    <input type="hidden" name="origen" id="origen" value="listPeliculas" />
                </form>
                <hr>
            </div>
        </div>
     </div>
    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Género</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pelicula : ${listadoPeliculas}">
                    <td th:text="PE+${pelicula.idPelicula}"></td>
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.annio}"></td>
                    <td th:text="${pelicula.duracion}"></td>
                    <td th:text="${pelicula.pais}"></td>
                    <td th:text="${pelicula.direccion}"></td>
                    <td th:text="${pelicula.genero}"></td>
                    <td>
                        <a th:href="@{/cpeliculas/ver/{id}  (id=${pelicula.idPelicula})  }" th:text="'ver'" class="btn btn-success btn-sm" role="button" title="Ver información de película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cpeliculas/editar/{id}  (id=${pelicula.idPelicula})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/cpeliculas/borrar/{id}  (id=${pelicula.idPelicula})   }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la película."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
            <nav th:replace="paginator-nav :: paginator"></nav>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" role="button" th:href="@{/cpeliculas/nuevaPelicula}">Nueva película</a>
        </div>
    </div>
    <hr>
    <a class="btn btn-secondary" role="button" th:href="${'home'}">Volver</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>