<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de películas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container py-4">
    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Género</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pelicula : ${listadoPeliculas}">
                    <td th:text="PE+${pelicula.idPelicula}"></td>
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.annio}"></td>
                    <td th:text="${pelicula.duracion}"></td>
                    <td th:text="${pelicula.pais}"></td>
                    <td th:text="${pelicula.direccion}"></td>
                    <td th:text="${pelicula.genero}"></td>
                    <td>
                        <a th:href="@{/cpeliculas/ver/{id}  (id=${pelicula.idPelicula})  }" th:text="'ver'" class="btn btn-success btn-sm" role="button" title="Ver información de película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/cpeliculas/editar/{id}  (id=${pelicula.idPelicula})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/cpeliculas/borrar/{id}  (id=${pelicula.idPelicula})   }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la película."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>
            <a class="btn btn-primary" role="button" th:href="@{/cpeliculas/nuevaPelicula}">Nueva película</a>

        </div>
    </div>
    <hr>
    <a class="btn btn-secondary" role="button" th:href="${origen+'?origen=home'}">Volver</a>
</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>