<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación de gestión de peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container py-4">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/ccriticas/guardar/}" method="post" th:object="${critica}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Por favor corrija los siguientes errores:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="valoracion" class="form-label">Valoración</label>
            <input type="text" class="form-control" th:field="*{valoracion}" id="valoracion" name="valoracion" required="required">
        </div>
        <div class="mb-3">
            <label for="nota" class="form-label">Nota</label>
            <input type="number" class="form-control" th:field="*{nota}" id="nota" name="nota" required="required" min="1" max="10">
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <input type="hidden" th:field="*{idCritica}" />
        <input type="hidden" th:field="*{idPelicula}" />
        <input type="hidden" th:field="*{usuario.idUsuario}" />

    </form>
    <hr>
    <a class="btn btn-secondary" role="button" href="javascript:history.back()">Volver</a>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>