/* el  . se utliza para indentificar clases que pueden ser reutilizadas */
/* se puede utilizar dos clases separadas por un espacio */
.encabezado{
    color: black;
}
.mayuscula{
    text-transform: uppercase;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16 px **/
}
/* se utliza para no agregar px a los anchos sumandole el padding*/
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    padding-top: 3rem;
}
img{
    max-width: 30%;
    max-height: 30%;
}
/************************************** Globales ***************************************************/
.contenedor{
    max-width: 150rem; /* equivale 1200px */
    margin: 0 auto 0 auto;
}
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}


/**************************************** Botones *******************************************************/
.botonera {
    margin-bottom: 5rem;
}

.boton{
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 3rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
}
.primario {
    float: left;
    background-color: #2A6BAD;
}
.secundario {
    float: right;
    background-color: #9b9b9b;
}
.cancelar {
    float: right;
    background-color: #d22c21;
}

.checked {
    color: orange;
}

/************************ Buscadores *************************************/

.form-select {
    height: 3.4rem;
    border-radius: 0.3rem;
    border-color: #6c757d;
}
.form-filtrs-critica {
    width: 30%;
}

/*********************** Formularios *****************************************/
.check-usuarios {
    padding-left: 1rem;
}